@media (max-width: 1400px) and (max-height: 1081px) {

    .header {
        height: 360px !important;
    }

    .pc-img {
        width: 178px !important;
        right: 110px !important;
        top: 0px !important;
    }

    .shape {
        width: 32px !important;
    }

    .shape-1 {
        top: 60px !important;
    }

    .shape-2 {
        bottom: 70px !important;
        right: 260px !important;
    }

    .shape-3 {
        bottom: 62px !important;
        right: 234px !important;
    }

    .header-content {
        padding-top: 50px;
    }
}

@media (max-width: 992px) and (max-height: 1081px) {

    .logo-img {
        height: 70px !important;
    }

    .pc-img {
        width: 190px !important;
        top: -10px !important;
    }

    .shape-1 {
        right: 82px !important;
    }

    .shape-2 {
        bottom: 60px !important;
    }

    .shape-3 {
        bottom: 54px !important;
        right: 248px !important;
    }

    .header-content {
        padding-top: 60px !important;
    }

    .footer-logo {
        height: 55px !important;
    }
}

@media (max-width: 768px) and (max-height: 1081px) {

    .pc-img {
        right: 30px !important;
        width: 160px !important;
        top: -150px !important;
    }

    .shape-1 {
        top: -100px !important;
        right: 10px !important;
    }

    .shape-2 {
        bottom: 130px !important;
        right: 160px !important;
    }

    .shape-3 {
        bottom: 124px !important;
        right: 152px !important;
    }
}

@media (max-width: 576px) and (max-height: 1081px) {
    .pc-img {
        width: 130px !important;
        top: -12px !important;
    }

    .header-description--mobile {
        max-width: 340px !important;
        z-index: 111 !important;
    }

    .logo-img {
        height: 60px !important;
    }
}

@media (max-width: 1400px) {
    .container {
        padding: 0 20px;
    }

}

@media (max-width: 1200px) {
    .container {
        padding: 0 30px;
    }

    .shape {
        width: 100px
    }

    .shape-2 {
        bottom: -100px;
    }

    .shape-3 {
        bottom: -96px;
    }
}

@media (max-width: 992px) {
    .container {
        padding: 0px 70px;
    }
    .header {
        background-size: cover;
        height: 600px;
    }

    .header-content {
        padding-top: 88px;
    }

    .header-menu {
        padding-top: 65px;
    }

    .nav-menu {
        padding-right: 59px;
    }

    .header-title {
        font-size: 46px;
    }

    .header-description {
        font-size: 22px;
    }

    .shape {
        width: 60px;
    }

    .shape-1 {
        top: 180px;
        right: 5px;
    }

    .shape-2 {
        bottom: -70px;
        right: 281px;
    }

    .shape-3 {
        bottom: -66px;
        right: 278px;
    }

    .pc-img {
        width: 300px;
        right: 50px;
        top: 80px
    }

    .about-content {
        gap: 20px;
    }

    .about-image {
        max-width: 350px;
        max-height: 230px;
    }

    .about-text {
        max-width: 350px;
        line-height: 24px;
        font-size: 18px;
    }

    .client-item {
        max-width: 120px;
    }
}

@media (max-width: 768px) {
    .nav-menu {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    .header {
        height: 520px;
    }

    .header-content {
        padding-top: 0px;
    }

    .header-description {
        display: none;
    }

    .header-description--mobile {
        display: block;
    }

    .pc-img {
        top: -108px;
        right: 0px;
    }

    .shape {
        width: 40px;
    }
    
    .shape-1 {
        top: -35px;
        right: -18px;
    }

    .shape-2 {
        bottom: -50px;
        right: 260px;
    }

    .shape-3 {
        bottom: -46px;
        right: 255px;
    }

    .about-image {
        max-width: 240px;
    }

    .title {
        font-size: 36px;
    }

    .about-title {
        width: 150px;
        padding: 50px 0;
    }

    .about-content {
        padding-bottom: 50px;
    }

    .about-image {
        border-radius: 20px;
        height: 100%;
    }

    .about-text {
        font-size: 18px;
        line-height: 20px;
    }

    .clients-title {
        width: 230px;
    }

    .clients-items {
        padding: 50px 0px;
    }

    .client-item {
        max-width: 93px;
    }

    .google-map {
        max-width: 500px;
    }

    .map-title {
        max-width: 330px;
    }

    .map-content {
        padding: 50px;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 0px 30px;
    }
    .title {
        font-size: 32px;
    }
    .header {
        background: url(../img/background/background-s.png);
        max-width: 576px;
        background-size: cover;
        height: 454px;
    }

    .header-menu {
        padding-top: 45px;
    }

    .burger-menu {
        width: 220px;
        height: 220px;
        margin-left: 10px;
    }

    .header-title {
        font-size: 36px;
        padding-top: 10px;
    }

    .header-description {
        font-size: 20px;
        max-width: 290px;
    }

    .header-description--mobile {
        font-size: 22px;
        max-width: 200px;
    }

    .shape {
        display: none;
    }

    .pc-img {
        width: 200px;
        top: 0px;
    }

    .about-title {
        width: 125px;
        padding: 30px 0;
    }

    .about-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .about-content:nth-last-child(2) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }

    .about-image {
        max-width: 350px;
    }

    .clients-title {
        width: 200px;
    }

    .clients-items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .client-item {
        max-width: 125px;
        padding-bottom: 15px;
    }

    .clients-items a:last-child > .client-item {
        padding-bottom: 0px;
    }

    .map-title {
        max-width: 290px;
    }

    .google-map {
        max-width: 350px;
    }

    .footer {
        padding-top: 83px;
    }

    .footer-img {
        padding-bottom: 35px;
    }

    .footer-contacts {
        width: 100%;
        max-width: 400px;
    }

    .footer-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .used-info  {
        margin: 0 auto;
        width: 150px;
    }
}

@media (max-width: 400px) {

    .title {
        font-size: 28px;
    }

    .shape-1,.shape-2,.shape-3 {
        display: none;
    }

    .footer-nav {
        flex-direction: column;
    }

    .about-title {
        width: 110px;
    }

    .about-image {
        max-width: 300px;
    }

    .clients-title {
        width: 180px;
    }

    .map-title {
        max-width: 260px;
    }

    .google-map {
        max-width: 300px;
    }
}

@media (max-width: 300px) {

    .title {
        font-size: 24px;
    }

    .about-title {
        width: 95px;
    }

    .about-image {
        max-width: 220px;
    }

    .about-text {
        max-width: 220px;
    }

    .clients-title {
        width: 150px;
    }

    .map-title {
        max-width: 220px;
    }

    .google-map {
        max-width: 210px;
        height: 350px;
    }
}