@media (max-width: 1920px) {
    .container {
        padding: 0 20px;
    }

    .title {
        padding: 60px 0px;
    }

    .header {
        height: 360px;
    }

    .pc-img {
        width: 178px;
        right: 110px;
        top: 0px;
    }

    .shape {
        width: 32px;
    }

    .shape-1 {
        top: 60px;
    }

    .shape-2 {
        bottom: 70px;
        right: 260px;
    }

    .shape-3 {
        bottom: 62px;
        right: 234px;
    }

    .header-content {
        padding-top: 50px;
    }
}

@media (max-width: 1200px) {
    .container {
        padding: 0 30px;
    }
}

@media (max-width: 992px) {
    .container {
        padding: 0px 70px;
    }

    .title {
        padding: 55px 0px;
    }

    .header {
        background: url(../img/background/background-m.webp);
    }

    .header-content {
        padding-top: 60px;
    }

    .header-menu {
        padding-top: 65px;
    }

    .nav-menu {
        padding-right: 59px;
    }

    .header-description {
        font-size: 22px;
    }

    .logo-img {
        height: 70px;
    }

    .shape-1 {
        right: 82px;
    }

    .shape-2 {
        bottom: 60px;
    }

    .shape-3 {
        bottom: 54px;
        right: 248px;
    }

    .pc-img {
        width: 190px;
        top: -10px;
    }

    .about-content {
        gap: 20px;
    }

    .about-image {
        max-width: 350px;
        max-height: 230px;
    }

    .about-text {
        max-width: 350px;
        line-height: 24px;
        font-size: 18px;
    }

    .client-item {
        max-width: 120px;
    }

    .form-container {
        padding: 45px 75px 38px;
    }

    .form-title {
        font-size: 36px;
    }

    .form-input {
        width: 306px;
    }

    .form-image--1 {
        width: 102px;
        top: -36px;
        right: -39px;
    }

    .form-image--2 {
        width: 82px;
        right: 45px;
        top: 57px;
    }

    .footer-logo {
        height: 55px;
    }
}

@media (max-width: 768px) {

    .title {
        padding: 45px 0px;
        font-size: 36px;
    }

    .nav-menu {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    .header-content {
        padding-top: 0px;
    }

    .header-description {
        display: none;
    }

    .header-description--mobile {
        display: block;
    }

    .pc-img {
        right: 30px;
        width: 160px;
        top: -150px;
    }
    
    .shape-1 {
        top: -100px;
        right: 10px;
    }

    .shape-2 {
        bottom: 80px;
        right: 160px;
    }

    .shape-3 {
        bottom: 86px;
        right: 152px;
    }

    .about-image {
        max-width: 240px;
    }

    .about-content {
        padding-bottom: 50px;
    }

    .about-image {
        border-radius: 20px;
        height: 100%;
    }

    .about-text {
        font-size: 18px;
        line-height: 20px;
    }

    .clients-items {
        padding: 25px 0px;
    }

    .client-item {
        max-width: 93px;
    }

    .google-map {
        max-width: 500px;
    }

    .map-content {
        padding: 25px;
    }

    .form-container {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .form-images {
        display: none;
    }

    .form-input {
        width: 336px;
    }

    .form-title {
        text-align: center;
    }

    .form-submit {
        width: 300px;
        margin: 0 auto;
    }

    .header-menu {
        padding-top: 35px;
    }

    .header-menu--offerta {
        flex-direction: column;
        align-items: center;
    }

    .btn-main {
        margin-top: 35px;
        font-size: 16px;
        max-width: 215px;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 0px 30px;
    }

    .title {
        font-size: 32px;
        padding: 36px 0px;
    }

    .header {
        background: url(../img/background/background-s.webp);
    }

    .header-menu {
        padding-top: 45px;
    }

    .logo-img {
        height: 40px;
    }

    .burger-menu {
        width: 220px;
        height: 220px;
        margin-left: 10px;
    }

    .header-description {
        font-size: 20px;
        max-width: 290px;
    }

    .header-description--mobile {
        font-size: 22px;
        max-width: 340px;
        padding-top: 125px;
        text-align: center;
    }

    .shape {
        display: none;
    }

    .pc-img {
        width: 130px;
        top: -195px;
    }

    .about-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .about-content:nth-last-child(2) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }

    .about-image {
        max-width: 350px;
    }

    .clients-items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .client-item {
        max-width: 125px;
        padding-bottom: 15px;
    }

    .clients-items a:last-child > .client-item {
        padding-bottom: 0px;
    }

    .google-map {
        max-width: 350px;
    }

    .popup-wrapper {
        padding: 38px;
    }

    .popup-img {
        max-width: 150px;
        padding: 15px;
    }

    .form-title {
        font-size: 25px;
    }

    .form-input {
        width: 266px;
    }

    .footer {
        padding-top: 43px;
    }

    .footer-img {
        padding-bottom: 35px;
    }

    .footer-contacts {
        width: 100%;
        max-width: 400px;
    }

    .footer-info {
        flex-direction: column;
        height: 118px;
    justify-content: space-between;
    align-items: center;
    }

    .footer-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .used-info  {
        margin: 0 auto;
        max-width: 250px;
        flex-direction: column;
        align-items: center;
    }

    .btn-main {
        margin-top: 45px;
        font-size: 15px;
        height: 36px;
    }
}

@media (max-width: 400px) {

    .title {
        font-size: 28px;
    }

    .shape-1,.shape-2,.shape-3 {
        display: none;
    }

    .consumer__text {
        font-size: 16px;
        line-height: 1.1;
    }

    .consumer__img {
        width: 80px;
    }

    .footer-nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .about-image {
        max-width: 300px;
    }

    .google-map {
        max-width: 300px;
    }

    .form-title {
        font-size: 22px;
    }

    .form-input {
        width: 223px;
    }

    .popup-wrapper {
        padding: 22px;
    }

    .popup-img {
        max-width: 120px;
        padding: 14px;
    }

    .popup-button {
        width: 210px;
        font-size: 16px;
    }

    .popup-error {
        padding: 0 5px;
    }
}

@media (max-width: 300px) {

    .title {
        font-size: 24px;
    }

    .logo-img {
        height: 36px;
    }

    .pc-img {
        width: 110px;
    }

    .header-description--mobile {
        padding-top: 115px;
    }

    .about-image {
        max-width: 220px;
    }

    .about-text {
        max-width: 220px;
    }

    .google-map {
        max-width: 210px;
        height: 350px;
    }

    .form-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .form-input {
        width: 170px;
    }

    .form-submit {
        width: 170px;
    }
}